.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
}
.nav-menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu__item {
    margin-left: 35px;
}
.nav-menu__link {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #37474F;
    transition: 0.1s;
    &:after {
        box-sizing: border-box;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        bottom: -5px;
        background-color: $btn_color;
        height: 2px;
        transform: scale(0);
        transition: .3s;
    }
    &:hover {
        color: $btn_color;
        &:after {
            transform: scale(1);
        }
    }
}
.button-link {
    color: #fff;
}
.btn {
    font-family: 'Open Sans';
    background-color: $btn_color;
    color: $btn_text-color;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.2s;
    &:hover {
        background-color: $btn_dark-color;
        box-shadow: 0px 1px 15px 7px rgba(57,169,205,1);
    }
}
.header-btn {
    display: inline-block;
    padding: 9px 25px;
    border-radius: 20px;
}
.header-btn__wrapper {
    margin: 0 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    border-radius: 20px;
}
.nav-menu__burger {
    display: none;
}
/*==============================overlay styles==============================*/
.header__overlay {
    visibility: hidden;
    display: block;
    position: absolute;
    padding-bottom: 10px;
    border-radius: 1px;
    top: 60px;
    width: 100%;
    background: linear-gradient(45deg, rgba(255,255,255,1) 19%, rgba(57,169,205,1) 95%, rgba(57,169,205,1) 100%);
    z-index: 55;
    transition: 0.1s;
}
.overlay-btn {
    margin-top: 20px;
}
.overlay-item {
    margin-top: 10px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.show {
    visibility: visible;
}
/*==============================@media request==============================*/

@media (max-width: 1200px) {
    .nav-menu__item {
        margin-left: 15px;
    }
    .nav-menu__link {
        font-size: 15px; 
    }
    .header-btn {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
}
@media (max-width: 992px) {
    .header__nav-menu {
        display: none;
    }
    .nav-menu__burger {
        display: block;
        position: relative;
        width: 25px;
        height: 20px;
        right: 5%;
        cursor: pointer;
    }
    .nav-menu__burger span {
        top: 8px;
    }
    .nav-menu__burger span,
    .nav-menu__burger::before, 
    .nav-menu__burger::after {
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: $btn_color;
        border-radius: 5px;
    }
    .nav-menu__burger::before {
        top: 0;
    }
    .nav-menu__burger::after {
        bottom: 0;
    }
}